/* TO DO
[X] Finish with the userbox
  [] Fix the weird movement of the username text with the cursor animation.
[] Start giving structure to the squares of the gameboard
[] Finish the gameboard squares
[] Start and finish the bottom part of the gameboard -- START/RESTART button
[] Implement the A.I button and work in its mechanics.
[] Finish the implementation of the history button and work in its mechanics.
[] Finish the footer.

*/

/*UTILITIES*/
@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-thin";
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

.horizontal-full-split {
  display: flex;
  justify-content: space-between;
}

.horizontal-jointly-split {
  display: flex;
  flex-direction: row;
}

.center-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 20px;
  font-family: "Roboto-light";
  font-weight: 700;
  padding: 5px 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #FEFFDE;
}



/*Nav*/
/**Header**/
h1,h2 {
  margin: 0;
}

.title--cont {
  width: 220px;
  font-size: 26px;
  border-bottom: 3px solid #000000;
  border-right: 3px solid #000000;
}

/**How to play**/
.how-to-play--cont {
  margin-right: 10px;
}

/*Main*/
.main--cont {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

/**History**/
.history-head {
  width: 200px;
  height: 20px;
}

/**Gameboard**/
.gameboard--cont {
  margin-left: 200px;
}

.gameboard-users {
  width: 500px;
  height: 30px;
  border: 2px solid #000000;
}

.user-box:nth-child(1){
  width: 50%;
  border-right: 1px solid #000000;
}

.user-box:nth-child(2){
  width: 50%;
  border-left: 1px solid #000000;
}

.username {
  font-size: 21px;
  padding-right: 6px;
}

.username:hover {
  animation: cursor 2s infinite;
}

@keyframes cursor {
  0% {
    padding-right: 5px;
    border-right: 1px solid #000000;
  }

  25% {
    padding-right: 6px;
    border-right: none;
  }

  50% {
    padding-right: 5px;
    border-right: 1px solid #000000;
  }

  75% {
    padding-right: 6px;
    border-right: none;
  }

  100% {
    padding-right: 5px;
    border-right: 1px solid #000000;
  }
}
